fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose
passlib[bcrypt]
python-multipart
langchain
faiss-cpu
sentence-transformers
spacy
pandas
numpy
requests
python-dotenv

faiss-cpu
sentence-transformers
numpy
requests
python-dotenv
httpx