fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
langchain
faiss-cpu
sentence-transformers
spacy
pandas
numpy
requests
python-dotenv
httpx